body{
	padding: 0px;
	margin: 0px;
	top: 0px;
}
.header{
	background-color: lavender;
	padding: 15px;
	font-size: 30px;
	font-family: serif;
}
.info{
	font-size: 20px;
	min-height: 400px;
	padding: 20px;
}
.sendButton{
	padding: 10px;
}
.modalBox{
	margin-left: 25%;
	margin-top: 10%;
	width: 50%;
}
.error-msg{
	font-size: 15px;
	text-align: center;
	padding: 30px;
}
.s-alert-box{
	z-index: 99999;
}
h3{
	padding-left: 14px;
}

